* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: lightyellow;
    border: 1px solid red;
}

h1 {
    text-align: center;
    border-bottom: 1px solid orange;
}

li a{
    text-decoration: none;
    color: black;
    text-align: center;
}

img{
    width: 500px;
    height: auto;

    /* To align the img to center*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Number Marker on Bold */
ol > li::marker {
    font-weight: bold;
}

.return {
    border: 1px solid darkblue;
    background-color: darkblue;
    padding: 4px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.recipes_list {
    text-align: justify;    
}

.recipes_list li{
    display: inline-block;
    width: 33%;
    text-align: center;
}